<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static%}
    <meta charset="utf-8">
    <title>Autocomplete Search Box | CodingNepal</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

<style>
input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 200px;
  left: 80px;
  font-size: 0px;
  visibility: hidden;
  color: #b8b8b8;
}


</style>


  </head>
  <body bgcolor="white">
   <div class="glass-panelj">
    <div class="wrapper">



<form method="post" enctype="multipart/form-data" action="visual" id="visual">
     {% csrf_token %}
      <center>
        
        <input type="file" id="upload" name="f" onchange="visual();">
        

      </center>
</form>





    
     <form method="post" enctype="multipart/form-data" action="get_text" id="form1">
        {% csrf_token %}
        <img src="{% static 'logo.png' %}" width="100%" height="70%">
        <div class="search-input">
        <a href="" target="_blank" hidden></a>
        <input type="text" placeholder="Type to search.." name="t">
        <div class="autocom-box">
          <!-- here list are inserted from javascript -->
        </div>
          
         <div class="icon">  <i class="fas fa-search" onclick="eatFood();"></i>
          
        </div> 

            <center>
         <label class="button" for="upload"><img src="{% static 'lence.jpg' %}" width="30px"></label> </center>
   
         
      </div>
         <select name="l">
         <option>en</option>
         <option>ar</option>
         </select name="l">
     </form>  
    </div>
    <center>
   <h3 color="black">the ssebowa search engine </h3>
     </center>
   </div>
          
    <script>
                 function eatFood() {
                           document.getElementById('form1').submit();
                  }
                 function visual() {
                           document.getElementById('visual').submit();
                  }
    </script>
    <script src="{% static 'script1.js' %}"></script>
    <script src="{% static 'suggestions1.js' %}"></script>

  </body>
</html>
